<!DOCTYPE html>
<html>
<head>
  <title>Models</title>
  <%= stylesheet_link_tag    "draw_smd/application", media: "all" %>
  <%= javascript_include_tag "draw_smd/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
